      <div class="container">
        <span class="text-muted">Built by <a href="http://code2success.co/" target="_blank">George Wright.</a></span>
        <a href="https://github.com/glandon22" target="_blank">
        	<i class="fa fa-github-alt pull-right fa-2x zzz footer-icons" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/in/glandonwright/" target="_blank">
        	<i class="fa fa-linkedin pull-right fa-2x footer-icons" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/glandonwright22" target="_blank">
        	<i class="fa fa-twitter pull-right fa-2x footer-icons" aria-hidden="true"></i>
        </a>
        
      </div>