<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">FCC Community Polls</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li class="home"><a href="/">Home</a></li>
        <li class="mypolls"><a href="/mypolls">My Polls</a></li>
        <li class="newpoll"><a href="/newpoll">New Poll</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle font-weight-bold" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= email %>
          <span class="caret"></span>
          </a>
            <ul class="dropdown-menu">
            <li>
              <a href="#" onclick="document.location.href='/logout';">Sign Out</a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>