<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<% if (loggedIn == true) {%>
		<% include ../partials/headerRegistered %>
	<% } else {%>	
		<% include ../partials/headerNew %>
	<% } %>
	<div class="jumbotron">
	  <div class="container">
	    <h1>Woops, this isn't what you were looking for.</h1>
	    <p>It looks like the following error has occured: <%= error %></p>
	  </div>
	</div>
	<footer class="footer">
		<% include ../partials/footer %>
	</footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>